## Beginning Data Exploration With Select

Interviewing the data is exciting because you discover truths. Your findings become part of the data’s story.

In SQL, interviewing data starts with the SELECT keyword, which retrieves rows and columns from one or more of the tables in a database. A __SELECT__ statement can be simple, retrieving everything in a single table, or it can be complex enough to link dozens of tables while handling multiple calculations and filtering by exact criteria.

### Basic SELECT Syntax

Here’s a SELECT statement that fetches every row and column in a table called my_table:

In [ ]:
SELECT * FROM my_table;

In [ ]:
TABLE my_table;

### Querying a Subset of Columns

Often, it’s more practical to limit the columns the query retrieves, especially with large databases, so you don’t have to wade through excess information. You can do this by naming columns, separated by commas, right after the __SELECT__ keyword. Here’s an example:

In [ ]:
SELECT some_column, another_column, amazing_column FROM table_name;

### Sorting Data with ORDER BY

In SQL, we order the results of a query using a clause containing the keywords __ORDER BY__ followed by the name of the column or columns to sort.

In [ ]:
SELECT first_name, last_name, salary FROM teachers
ORDER BY salary DESC

By default, __ORDER BY__ sorts values in ascending order, but here I sort in descending order by adding the __DESC__ keyword. (The optional __ASC__ keyword
specifies sorting in ascending order.)

Digesting data happens most easily when the result focuses on answering a specific question; therefore, a better strategy is to limit the number of columns in your query to only the most important and then run several queries to answer each question you have.

### Using DISTINCT to Find Unique Values

To understand the range of values in a column, we can use the DISTINCT keyword as part of a query that eliminates duplicates and shows only
unique values.

In [ ]:
SELECT DISTINCT school FROM teachers
ORDER BY school;

When you’re working with dates or numbers, DISTINCT will help highlight inconsistent or broken formatting. For example, you might inherit a dataset in which dates were entered in a column formatted with a text
data type.

The DISTINCT keyword also works on more than one column at a time. If we add a column, the query returns each unique pair of values.

In [ ]:
SELECT DISTINCT school, salary FROM teachers
ORDER BY school, salary;

This technique gives us the ability to ask, “For each x in the table, what are all the y values?” For each factory, what are all the chemicals it produces? For each election district, who are all the candidates running for
office? For each concert hall, who are the artists playing this month?

### Filtering Rows with WHERE

Sometimes, you’ll want to limit the rows a query returns to only those in which one or more columns meet certain criteria.

The WHERE clause allows you to find rows that match a specific value, a range of values, or multiple values based on criteria supplied via an operator—a keyword that lets us perform math, comparison, and logical
operations. You also can use criteria to exclude rows.

In [ ]:
SELECT last_name, school, hire_date FROM teachers
WHERE school = 'Myers Middle School';

Note that in standard SQL syntax, the WHERE clause follows the FROM keyword and the name of the table or tables
being queried.

### Using LIKE and ILIKE with WHERE

The LIKE operator, which is part of the ANSI SQL standard, is case sensitive. The ILIKE operator, which is a PostgreSQL-only implementation, is case insensitive.

To use LIKE and ILIKE, you specify a pattern to match using one or both of these symbols: 
- __Percent sign (%)__ A wildcard matching one or more characters
- __Underscore (_)__ A wildcard matching just one character

In [ ]:
SELECT first_name FROM teachers
WHERE first_name LIKE 'sam%';
SELECT first_name FROM teachers
WHERE first_name ILIKE 'sam%';

### Combining Operators with AND and OR

Comparison operators become even more useful when we combine them. To do this, we connect them using the logical operators AND and OR along with, if needed, parentheses.

In [ ]:
SELECT * FROM teachers
WHERE school = 'Myers Middle School' AND salary < 40000;

SELECT * FROM teachers
WHERE last_name = 'Cole' OR last_name = 'Bush';

SELECT * FROM teachers 
WHERE school = 'F.D. Roosevelt HS'
AND (salary < 38000 OR salary > 40000);

### Putting It All Together

In [ ]:
SELECT column_names
FROM table_name 
WHERE criteria
ORDER BY column_names;

### TRY IT YOURSELF

Explore basic queries with these exercises: 

The school district superintendent asks for a list of teachers in each school. Write a query that lists the schools in alphabetical order along with teachers ordered by last name A–Z.

Write a query that finds the one teacher whose first name starts with the letter S and who earns more than $40,000.
Rank teachers hired since January 1, 2010, ordered by highest paid to lowest.

In [ ]:
SELECT school, first_name, last_name
FROM teachers
ORDER BY school, last_name;

In [ ]:
SELECT first_name, last_name, school, salary
FROM teachers
WHERE first_name LIKE 'S%' AND salary > 40000;

In [ ]:
SELECT last_name, first_name, school, hire_date, salary
FROM teachers
WHERE hire_date >= '2010-01-01'
ORDER BY salary DESC;